/* header start */

/* one nav */
.nav1{
    background-color: #a23f25;
}

.phone a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
}

.social_media{
    display: inline-block;
}

.mr-4{
    margin-right: 3.2rem;
}

.mr-2 {
    margin-right: 1.4rem;
}

.register a{
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 13px;
}

.social_media a{
    color: white;
    font-size: 11px;
}

/* two nav */

.nav{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    background: transparent;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    position: relative;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-brand span {
    color: rgba(255, 255, 255, 0.5);
}

.logo:hover{
    color: white;
    transition: all 0.4s;
}

.col-10 ul{
    gap: 40px;
}

.col-10 li a{
    cursor: pointer;
}

.col-10 li a:hover, .dropbtn:hover, .col-10 li i:hover{
    color: #a23f25;
    transition: all 0.3s;
}

.menu{
    display: none;
}

.dropbtn {
    background: transparent;
    color: #717171;
    border: none;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 3px 25px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1
}
  
.dropdown:hover .dropdown-content {
    display: block;
}



/* header end */

/* main start */

/* hero wrap start */
.hero-wrap{
    background-position: 50% 60px;
    position: relative;
}

.hero-wrap img{
    position: relative;
    height: 100vh;
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .4;
    background: #000000;
}

.slider-text {
    position: absolute;
    top: 30%;

}

.slider-text h1 {
    font-size: 80px;
    color: #fff;
    line-height: 1.1;
    font-weight: 700;
    font-style: italic;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #fff;
}

.slider-text span{
    color: #b7472a;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 0px;
}

.slider-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
}


.btn-primary {
    background: #b7472a;
    border: none;
    color: #fff;
    font-size: 17px;
}

.btn-primary:hover{
    background-color: #b7472a;
    border: none;
}

.btn-outline-white {
    border: 1px solid white;
    background: transparent;
    color: #fff;
    font-size: 17px;
}

.btn-outline-white:hover{
    background-color: #b7472a;
}

/* hero wrap end */

/* online start */

#online{
    background-color: #b7472a;
}

.icon{
    margin-right: 20px;
}

.iconn{
    font-size: 50px;
    color: white;
}

#online .intro {
    z-index: 0;
    position: relative;
    margin: 36px 0;
}

.intro .textt {
    color: rgba(255, 255, 255, 0.8);
}

#online .ftco-animate{
    margin-left: 30px;
    margin-right: 30px;
}
.textt h2 {
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

#online{
    background-color: #b7472a;
}


#online .center{
    background-color: #a23f25;
}

#online .end{
    background-color: #9b3b23;
}

/* online end */

/* since start */
.since{
    margin: 120px auto;
}

.year {
    font-size: 30px;
    color: #000000;
}

.year .number{
    font-style: italic;
    color: #b7472a;
    font-weight: 300;
}

.img-3 {
    background-size: cover;
    background-position: center;
    height: 510px;
}

.wrap-about .heading-section{
    margin-top: -50px;
}

.subheading{
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 0;
    color: #b7472a;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.since .heading-section{
    margin-left: 50px;
}

.heading-section h2 {
    font-size: 40px;
    font-weight: 700;
    color: black;
}
/* since end */

/* brandy start */
.sort .img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sort h3 {
    font-size: 22px;
    font-weight: 300;
    color: rgb(42, 41, 41);
}

.sort .img::after {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    content: '';
    border: 1px solid #b7472a;
    border-radius: 50%;
    transition: all 0.6s;
}

.sort .img:hover::after {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border-radius: 50%;
    transition: all 0.6s;
    border: 1px solid rgb(168, 168, 168);
}

.sort .img:hover::before{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    content: '';
    border: 1px solid #959595;
    border-radius: 50%;
    background-color: #c8c7c7;
    opacity: 0.5;
    transition: all 0.6s;
}

/* brandy end */

/* product start */

.pb-5{
    margin-bottom: 30px;
}


.product{
    position: relative;
}
.product .img{
    width: 255px;
    height: 350px;
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.sale{
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    background: #b7472a;
}
.seller{
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    background: #fe9801;
}
.new{
    position: absolute;
    top: 0;
    left: 3px;
    font-size: 12px;
    padding: 0 10px;
    color: #fff;
    background: #01d28e;
}

.text .category{
    font-style: italic;
    color: #b7472a;
}

.product .text{
    padding-bottom: 90px;
    position: relative;
    padding: 20px;
}

.product .text h2 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 300;
    line-height: 1.5;
    color: black;
}

.price{
    font-style: italic;
}

.price-sale{
    font-style: italic;
    text-decoration: line-through;
}

.product{
    padding-bottom: 70px;
}

.product .img {
    position: relative;
    transition: filter 0.6s;
}

.product:hover .img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.meta-prod {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.product:hover .meta-prod {
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
}

.meta-prod a {
    margin: 0 3px;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
}

.buton{
    margin-bottom: 100px;
}

/* product end */

/* clients start */

.testimony-section{
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.testimony-section .row .col-lg-4{
    margin-top: 50px;
    padding-bottom: 100px;
}

.owl-item{
    width: 350px;
    margin-right: 30px;
}

.testimony-section .text-center{
    position: relative;
}

.testimony-section .img{
    position: relative;
}

.testimony-wrap{
    display: block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 20px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.7);
}
.testimony-wrap .icon {
    position: absolute;
    top: -20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #b7472a;
}
.testimony-wrap .icon span {
    color: #fff;
}
.testimony-wrap .text p{
    font-style: italic;
}
.testimony-wrap .user-img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    background-size: cover;
}

.text .mb-4{
    margin-bottom: 15px;
}

.pl-3{
    padding-left: 10px;
}

.testimony-wrap .name {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
    color: #fff;
    font-style: normal !important;
}

.testimony-wrap .position {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.testimony-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000000;
    opacity: .7;
}

/* clients end */

/* blog start */


.block {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    width: 100%;
    z-index: -1;
}

.blog-entry .img, .blog-entry .text {
    width: 50%;
}

.blog-entry {
    margin-bottom: 30px;
    margin-right: 30px;
}

.text .heading a:hover{
    color: #a23f25;
}

.blog-entry .btn-custom {
    color: #b7472a;
    font-style: italic;
    font-weight: 700;
}

.blog-entry .text{
    padding: 33px !important;
    background-color: #f5f4f0 ;
}

.blog-entry .text .heading {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
}

.recent{
    margin-bottom: 90px;
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .meta p span {
    padding-right: 10px;
}

/* blog end */
/* main end */



@media (min-width: 576px) and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (max-width:1200px){
    .container{
        max-width: 950px;
    }

    .product .img{
        width: 200px;
    }
}
@media (max-width:768px){

    .product .img{
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
        padding-right: 0;
        padding-left: 0;
    }
    .hero-wrap .slider-text h1 {
        font-size: 40px;
        
    }
    
    #online .no-gutters{
        padding: 0 120px;
    }


    .nav li{
        display: none;
    }

    .nav .bag{
        display: block;
        padding-left: 20px;
    }

    .menu{
        display: block;
    }

    .sort{
        margin-bottom: 30px;
    }
}

@media (max-width:768px){

    .navv{
        justify-content: space-evenly;
        display: flex;
    }

    .social_media{
        width: 50%;
    }
    .register{
        width: 50%;
        justify-content: flex-end ;
    }
}

@media (max-width: 1200px) {
    .hero {
        background-position: center;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 720px;
    }

    .blogg{
        margin-left: 20px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .hero-wrap .slider-text{
        padding-left:200px;
        justify-content: center;
    }
}

@media (max-width:410px){
    #online .no-gutters{
        padding: 0 20px;
    }
}